.todoButton {
    background-color: rgb(152, 221, 48);
    width: 75px;
    height: 75px;
    padding: 0;
    z-index: 3;
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: white;
    font-size: 45px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.603) 2px 2px 4px;
}

.todoButton:hover {
    background-color: greenyellow;
    box-shadow: greenyellow 0px 0px 10px 3px;
}